<html>
  <head>
    <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='styles.css')}}">
  </head>
  <body>
    <h1>{{restaurant_name}}</h1>

    {% if length <= 0 %}
    <p> You currently have no menu item. </p>
    {% endif %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
        <li><strong>{{message}}</strong></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <a href="{{url_for('newMenuItem', restaurant_id=restaurant_id)}}">Make a new menu item!</a>

    {% if length > 0%}

    <div>
      {% for menu in menus %}

      <div>
        <p class='name'>{{menu.name}}</p>
        <p class='price'>{{menu.price}}</p>
        <p class='course'>{{menu.course}}</p>
        <p class='description'>{{menu.description}}</p>


        <a href="{{url_for('editMenuItem',restaurant_id=restaurant_id, menu_id=menu.id)}}">Edit</a></br>
        <a href="{{url_for('deleteMenuItem',restaurant_id=restaurant_id, menu_id=menu.id)}}">Delete</a></br>

      </div>
      {% endfor %}

    </div>
    {% endif %}

  </body>
</html>